node_modules/
typechain/
env.json
.tmp-addresses*.json
data/fxdxMigration
data/esFxdxDistribution
data/bonds
data/batchSend
data/nft
data/snapshotBalance
data/holders
data/abi
flattened
distribution-data*.json

#Hardhat files
cache
artifacts

DEPLOYORDER.md
